@{
    ViewBag.Title = "Домашняя страница";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<h3>Список какой-то информации</h3>
<ol class="round">
    <li class="one">
        <h5>Какая-то информация</h5>
        bla-bla-bla
    </li>

    <li class="two">
        <h5>Какая-то информация</h5>
        bla-bla-bla
    </li>

    <li class="three">
        <h5>Какая-то информация</h5>
        bla-bla-bla
    </li>
</ol>
